body {
    background-color: rgb(200, 200, 200);
}

.graph_background {
    background-color: rgb(200, 200, 200);
}

.jumbotron {
    background-image: url("/images/Group-members.jpg");
}

.white-bg {
    background-color: white;
}